#root{
    width: 100vw;
    overflow: hidden;
}

.main-container{
    width: 100%;
    height: 100%;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    width: 100%;
    height: 12em;
    background: rgb(138,211,232);
    background: linear-gradient(90deg, rgba(138,211,232,1) 23%, rgba(193,232,243,1) 82%); 
}
.title{
    font-size: 4em;
}
.subtitle{
    font-size: 1em;
}

#city-img{
    width: 150px;
    height: 150px;
}

#city-banner{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    font-size: 1.6em;
}

#weather{
    width: 250px;
    height: 250px;
}

#city-selector{
    width: 100%;
    display: flex;
    justify-content: center;
}

#city-selector > select{
    margin: 5px;
    width: 60%;
}

.weather-container{
    width: 80%;
    margin: 0 auto;
}

.weather-card{
    display: flex;
}

.body-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.temp-info{
    display: flex;
}

.city-bar{
    display: flex;
}

.form-flex{
    display: flex;
}

.search-bar{
    width: 300px;
}